header
background-color:#232c39;
color:#bdc3c7;
font-family:arial,sans-serife;
text-aling:center;
height:100px
margin:0;
border:none
width:100%
display:flex;
aling-items:center;
justify-content:center;
{
  html,body
}
margin:0;
padding:0;
{
  margin:0;
  padding:0;
  box-sizmgBorder-box
}
